<%include partials/header %>
    <main>
      <h1>Welcome to Web Developement</h1>
      <div class="goto flex justify-center goto-articles">
        <a href="/articles" class="btn">
         Goto Articles
        </a>
       
       </div>
    </main>
    <%include partials/footer%>